# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files
*.dwo

/S02/.vs
/s02/.vs/s02/
/S02/.vs
S02/.vs/S02/v17/Browse.VC.db
/S03/.vs
/S03
/S03_Fixed/.vs
/S03_Fixed/S03_Fixed/Debug
/S03_Fixed/S03_Fixed
/S04_singly_linked_list/.vs
/S04_singly_linked_list/G1067
/S05/.vs
/S05/G1067
/S05/S01
/S05/StacksProject
/S05_Fixed/.vs
/S05_Fixed/S05_Fixed
/S07/.vs
/S07/S07
/S06/.vs
